@page
@model DisasterAlleviationFoundation2.Pages.Disaster.EditModel
@{
}

<br />
<h2>Edit Disasters</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' dat-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="post">
    <input type="hidden" name="id" value="@Model.disasterInfo.disasterid " />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Disaster ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="disasterid" value="@Model.disasterInfo.disasterid  " />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Start Date</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="startdate" value="@Model.disasterInfo.startdate  " />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">End Date</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="enddate" value="@Model.disasterInfo.enddate  " />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Location</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="location" value="@Model.disasterInfo.location  " />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.disasterInfo.description   " />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Aid Type</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="aidtype" value="@Model.disasterInfo.aidtype    " />
        </div>
    </div>

    @if (Model.sucessMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.sucessMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>