@model IEnumerable<DisasterAllevitionFoundationproject.Models.MonetaryDonationsTbl>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donar)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MonetaryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MonetaryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MonetaryID })
        </td>
    </tr>
}

</table>
