@page
@model DisasterAlleviationFoundation2.Pages.Monetary.CreateModel
@{
}

<br />
<h2>New Monetary Donation</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' dat-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="ID" value="@Model.monetaryInfo.monetaryid" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Date" value="@Model.monetaryInfo.date" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Amount" value="@Model.monetaryInfo.amount" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Donar</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Donar" value="@Model.monetaryInfo.donar" />
        </div>
    </div>

    @if (Model.successMesage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.successMesage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>